<footer id="footer" class="container-fluid white-section">
  <button class="btn btn-lg"><i class="fa-brands fa-twitter"></i></button>
  <button class="btn btn-lg"><i class="fa-brands fa-facebook"></i></button>
  <button class="btn btn-lg"><i class="fa-brands fa-instagram"></i></button>
  <button class="btn btn-lg"><i class="fa-solid fa-envelope "></i></button>
  <p>© Copyright BusInfo</p>
</footer>
