@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #454545;
  color: #fff;
  height: 75vh;
}


body {
  background-color: #2d3748;
  font-family: "Montserrat";
  text-align: center;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "ADLaM Display", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Black";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Section */

#title {
  background-color: #454545;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 40%;
  /* transform: rotate(25deg); */
  position: absolute;
  margin-top: 2.5%;
  margin-left: 5%;
}

/* Feature Section */

.feature-title {
  font-family: "Lobster";
  font-size: 1.5rem;
}

#features {
  position: relative;
  z-index: 1;
}

.lg {
  color: #304880;
  size: 50px;
  margin-bottom: 20px;
}

.lg:hover {
  color: #9a4444;
}

.feature-box {
  padding: 5%;
}

/* logout */
.logout:hover {
  text-decoration: none;
}

@media (max-width: 1038px) {
  .title-image {
    width: 60%;
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

/* .n {
  display: flex;
} */

ul {
  font-size: 1.15rem;
}

li {
  padding: 0 30px;
}

.service-heading {
  color: #d6d46d;
  font-family: "Lobster";
  font-size: 4rem;
}

.title-heading {
  color: #d6d46d;
  font-family: "Lobster";
  font-size: 4rem;
}

.feature-para {
  font-weight: 400;
}

.service-heading {
  font-family: serif; /* Change font-family */
  font-size: 2.5rem; /* Adjust font size as needed */
  max-width: 800px; /* Set maximum width */
  margin: 0 auto; /* Center the heading */
}
